@media (max-width: 768px) {
    
    .container-paq {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .cardp {
        margin-bottom: 20px;
        width: 90%;
    }
}

.container-paq {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 100px;
}

.cardp {
    width: 300px;
    height: 450px;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s, box-shadow 0.4s;

    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 30px;
}

.Paq1 {
    width: 100%;
    height: auto;
    position: absolute;
}

.Paq2 {
    width: 100%;
    height: auto;
    position: absolute;
}

.Paq3 {
    width: 100%;
    height: auto;
    position: absolute;
}

.cardp.novato::before {
    content: none;
}

.cardp:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.04);
}

.cardp::before {
    background-color: #ffffff;;
    color: #f26419;
    padding: 30px 36px 10px;

    transform: translate(calc(41px + 45px), -45px) rotate(45deg);
    transform-origin: top left;

    content: 'Nuevo';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    color: #0a6acb;
}

.cardp_info {
    width: 100%;
    height: 130px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardp_info::before {
    background: rgb(242, 100, 25);
    background: linear-gradient(0deg, rgba(242, 100, 25, 1) 60%, rgba(246, 160, 45, 1) 100%);

    width: 100%;
    height: 100%;
    opacity: 0.8;

    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.cardp_sub {
    color: #ffffff;;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}

.cardp_price {
    color: #ffffff;;
    font-size: 22px;
    font-weight: 400;
}

.cardp_priceSpan {
    color: #ffffff;;
}

.cardp_content {
    background-color: #ebebeb;
    width: 100%;
    height: calc(100% - 130px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardp_rows {
    width: 100%;
    flex-grow: 1;
}

.cardp_row {
    color: #0a6acb;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-bottom: 3px solid #ffffff;;
}

.cardp_row:nth-of-type(odd) {
    background-color: var(--color0);
}

.button_link {
    color: #ffffff;;
    background-color: #f6a02d;
    padding: 10px 15px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 50px;
}

.button_link:hover {
    background-color: #402068!important;
}