.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f26419;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
}

.center-links {
    justify-content: center;
    flex-grow: 1;
}

.right-links {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px;
    display: block;
    font-size: 20px;
    font-family: 'Figtree-Medium', sans-serif;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

.MiniLogo {
    background-color: #f26419;
    border: none;
    padding: 0px;
    margin: 0px 0px 0px 30px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MiniLogo:hover {
    transform: scale(1.125);
}

.MiniLogo svg {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.mobile-menu-icon {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
}

.dropdown-menu-profile {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #00063d;
    color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 5px;
    width: 150px;
    z-index: 1000;
    margin-top: 5px;
}

.dropdown-menu-profile a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-menu-profile a:hover {
    background-color: #f6a02d;
    color: #00063d;
    border-radius: 5px;
}

.profile-name {
    cursor: pointer;
    color: #ffffff;
    font-family: 'Figtree-Medium', sans-serif;
    padding: 10px 15px;
    font-size: 20px;
}

.register-link {
    padding: 8px 40px;
    border: none;
    border-radius: 30px;
    background-color: #00063d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
    }

    .nav-links-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f26419;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-links-container.active {
        height: calc(100vh - 50px);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .center-links {
        justify-content: center;
        flex-grow: 0;
    }

    .MiniLogo {
        margin: 0px 0px 0px 10px;
    }

    .profile-dropdown {
        position: relative;
    }

    .dropdown-menu-profile {
        margin: 0px;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #f26419;
        box-shadow: none;
        padding: 10px 0;
        border-radius: 5px;
        width: 150px;
        z-index: 1;
    }

    .dropdown-menu-profile a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        display:flex;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .dropdown-menu-profile a:hover {
        background-color: #f26419;
        color: #ffffff;
        border-radius: 5px;
    }

    .profile-name {
        cursor: pointer;
        color: #ffffff;
        font-family: 'Figtree-Medium', sans-serif;
        padding: 10px 15px;
        font-size: 20px;
    }

    .navbar a:hover {
        transform: scale(1.2);
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    }
}