/* @font-face {
    font-family: 'Figtree-Bold';
    src: url('scr/Fonts/Figtree-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Medium';
    src: url('scr/Fonts/Figtree-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Light';
    src: url('scr/Fonts/Figtree-Light.ttf') format('truetype');
} */

.footer {
    align-items: center;
    background-color: #00063d;
    padding: 15px 15px;
    color: #ebebeb;
}

.footer h1 {
    font-family: 'Figtree-Medium', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discord-link {
    color: #5865F2;
    margin-top: 5px; /* Espacio entre el título y el ícono */
    transition: color 0.3s ease;
}

.discord-link:hover {
    color: #7289DA;
}

.terminos, .copyright {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;
}

.terminos p, .copyright p {
    font-family: 'Figtree-Light', sans-serif;
    margin: 4px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer {
        padding: 5px 10px;
    }

    .footer h1 {
        font-size: 1rem;
    }

    .terminos p, .copyright p {
        font-size: 0.7rem;
    }
}
