.footer {
    align-items: center;
    background-color: #00063d;
    padding: 15px 15px;
    color: #ebebeb;
}

.footer h1 {
    font-family: 'Figtree-Medium', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre los iconos */
    margin-top: 5px;
}

.discord-link {
    color: #5865F2;
    transition: color 0.3s ease;
}

.discord-link:hover {
    color: #7289DA;
}

.heart-icon {
    color: #ff0000;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
}

.heart-icon:hover {
    transform: scale(1.2);
    color: #ff4d4d;
}

.terminos, .copyright {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;
}

.terminos p, .copyright p {
    font-family: 'Figtree-Light', sans-serif;
    margin: 4px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer {
        padding: 5px 10px;
    }

    .footer h1 {
        font-size: 1rem;
    }

    .terminos p, .copyright p {
        font-size: 0.7rem;
    }
}
