/* @font-face {
    font-family: 'Figtree-Bold';
    src: url('scr/Fonts/Figtree-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Medium';
    src: url('scr/Fonts/Figtree-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Light';
    src: url('scr/Fonts/Figtree-Light.ttf') format('truetype');
} */

.footer {
    align-items: center;
    background-color: #00063d;
    padding: 15px 15px; /* Reduce el padding para hacer el footer más pequeño */
    color: #ebebeb;
}

.footer h1 {
    font-family: 'Figtree-Medium', sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente para que sea más pequeña */
    margin: 5px 0; /* Reduce el margen superior e inferior */
}

.terminos, .copyright {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que el contenido se ajuste en dispositivos pequeños */
    margin: 5px 0; /* Reduce el margen superior e inferior */
}

.terminos p, .copyright p {
    font-family: 'Figtree-Light', sans-serif;
    margin: 4px; /* Reduce el margen entre los párrafos */
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

@media (max-width: 768px) {
    .footer {
        padding: 5px 10px; /* Reduce aún más el padding en pantallas pequeñas */
    }

    .footer h1 {
        font-size: 1rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .terminos p, .copyright p {
        font-size: 0.7rem; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
}
