.flex {
    display: flex;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .ml-64 {
    margin-left: 4rem; 
  }
  
  .p-10 {
    padding: 1.25rem;
  }
  .admin-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }