.formR-editarusuario {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 100%; /* Cambia el ancho, ajusta el valor según lo que desees */
  max-width: 900px; /* Ajusta el tamaño máximo si quieres que sea más amplio */
  height: 600px; /* Especifica una altura si quieres una altura fija */
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  margin-bottom: 20px;
}



.formR-editarusuario {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 100%;
  max-width: 500px; /* Limitar el tamaño máximo del formulario */
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  margin-bottom: 20px; /* Separar el formulario del footer */
}

.formR-editarusuario h2 {
  color: #00063D;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}

.formR-editarusuario input,
.formR-editarusuario select {
  font-family: 'Figtree-Medium', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 70%;
  border: 0px solid #797979;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
}

.button-regis-editarusuario {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #F6A02D;
  width: 100%;
  max-width: 250px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  position: center;
  border-radius: 25px;
  text-transform: none;
}
