.perfil-artista {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  margin-top: 100px;
  padding-bottom: 80px;
}

.card-artista {
  display: flex;
  align-items: center;
  width: 1060px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
  position: relative; /* Posición relativa para el ícono */
}

.logout-icon {
  position: absolute;
  top: 10px; /* Ajusta el margen superior */
  right: 10px; /* Ajusta el margen derecho */
  cursor: pointer;
  color: #00063D;
}


.form-container-artista {
  width: 800px; /* Alinea el ancho del formulario con la tarjeta */
  display: flex;
  justify-content: center;
}


.perfil-imagen-artista {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card_info-artista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.card_title-artista {
  font-size: 1.4em;
  font-weight: bold;
  color: #333;
}

.card_description-artista {
  font-size: 1em;
  color: #666;
  margin-top: 4px;
}


.card_load-artista {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra alrededor de la imagen */
  border: 4px solid #ffffff; /* Borde blanco */
}

.card_info-artista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.card_buttons-artista {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px; /* Margen superior para separar los botones de la información */
}

.btn-subir-video-artista, .btn-editar-perfil-artista, .btn-cerrar-sesion-artista {
  padding: 10px 20px;
  background-color: #00063D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el ícono y el texto */
  transition: background-color 0.3s;
}

.btn-subir-video-artista:hover,
.btn-editar-perfil-artista:hover,
.btn-cerrar-sesion-artista:hover {
  background-color: #333c66;
}
