/* Estructura base */
.video-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  background-color: #111;
  padding: 80px;
}

.video-player-section {
  flex: 3;
  max-width: 100%;
}

.suggestions-section {
  flex: 1;
  padding-left: 20px;
  color: #f1f1f1;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .video-layout {
    flex-direction: column; /* Cambia la dirección de la estructura a columna */
    padding: 20px;
  }

  .video-player-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .suggestions-section {
    width: 100%;
    padding-left: 0;
  }

  .video-info {
    margin-top: 20px;
  }

  .suggestion-thumbnail {
    width: 60px;
    height: 45px;
  }
}

/* Ajustes para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
  .video-layout {
    padding: 40px;
  }

  .suggestion-thumbnail {
    width: 70px;
    height: 50px;
  }

  .video-info {
    margin-top: 100px;
    
  }
}

/* Estilo general */
.suggestion-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.suggestion-card:hover {
  background-color: #3a3a3a;
}

.suggestion-thumbnail {
  width: 80px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

.suggestion-title {
  font-size: 14px;
  color: #f1f1f1;
}

.video-player {
  width: 100% !important;
  aspect-ratio: 16/9;
  object-fit: contain;
  margin-top: 20px;
}

.video-info {
  text-align: left;
  width: 98%;
  padding: 10px;
  background-color: #1c1c1c;
  color: #f1f1f1;
  margin-top: 200px; /* Ajusta el margen superior para crear separación */
  margin-bottom: 20px;
  border-radius: 8px;
}

.video-title {
  font-size: 24px;
  font-weight: bold;
  color: #f17c0f;
  margin-bottom: 10px;
}

.video-creator,
.video-description {
  margin: 10px 0;
  font-size: 16px;
  color: #ddd;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-rating.animated {
  animation: starBounce 0.5s ease;
}

.comments-section {
  color: #f4f4f4;
}

.comments-section .comment {
  background-color: #222 !important;
  padding: 15px;
  margin-top: 5px;
  border-radius: 10px;
  color: #f4f4f4;
}

.add-comment {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #cc6d00;
  background-color: #1c1c1c;
  color: #f1f1f1;
}

.comment-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #cc6d00;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-button:hover {
  background-color: #f58302;
}

.comments-list {
  margin-top: 20px;
}

.comment {
  background-color: #222;
  margin-top: 5px;
  border-radius: 10px;
  color: #f4f4f4;
}

.comment-user {
  font-weight: bold;
  color: #db700d;
}

.comment-date {
  font-size: 12px;
  color: #ffffff;
}

.comment-text {
  margin-top: 5px;
  color: #ffffff;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@keyframes starBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
