:root {
    --color01: #ffffff;
    --color02: #f26419;
    --color02Hover: #402068;
    --color08: #f6a02d;
    --color09: #ebebeb;
    --color13: #0a6acb;
}

@media (max-width: 768px) {
    .container-paq {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 20px;
        width: 90%;
    }
}

.container-paq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 450px;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s, box-shadow 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.Paq1 {
    width: 100%;
    height: auto;
    position: absolute;
}

.Paq2 {
    width: 100%;
    height: auto;
    position: absolute;
}

.Paq3 {
    width: 100%;
    height: auto;
    position: absolute;
}

.card.novato::before {
    content: none;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.04);
}

.card::before {
    background-color: var(--color01);
    color: var(--color02);
    padding: 30px 36px 10px;

    transform: translate(calc(41px + 45px), -45px) rotate(45deg);
    transform-origin: top left;

    content: 'Nuevo';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    color: #0a6acb;
}

.card_info {
    width: 100%;
    height: 130px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_info::before {
    background: rgb(242, 100, 25);
    background: linear-gradient(0deg, rgba(242, 100, 25, 1) 0%, rgba(246, 160, 45, 1) 100%);

    width: 100%;
    height: 100%;
    opacity: 0.8;

    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.card_name {
    color: var(--color01);
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}

.card_price {
    color: var(--color01);
    font-size: 22px;
    font-weight: 400;
}

.card_priceSpan {
    color: var(--color01);
}

.card_content {
    background-color: var(--color09);
    width: 100%;
    height: calc(100% - 130px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card_rows {
    width: 100%;
    flex-grow: 1;
}

.card_row {
    color: var(--color13);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid var(--color01);
}

.card_row:nth-of-type(odd) {
    background-color: var(--color0);
}

.card_link {
    color: var(--color01);
    background-color: var(--color08);
    padding: 10px 15px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 50px;
}

.card_link:hover {
    background-color: var(--color02Hover) !important;
}