/* .user-profile-container {
    position: relative;
    padding: 20px;
  }
  
  .logout-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background-color: #ff1a1a;
  }
   */