.admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f26419;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo-container-admin {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espacio entre los elementos */
    position: absolute;
    right: 4rem;
}

.profile-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #ffffff; /* Borde blanco */
}

.user-details span {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Figtree-Medium', sans-serif;
}

.btn-cerrar-sesion-nav {
    display: flex;
    align-items: center;
    background-color: #00063d;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Figtree-Medium', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-cerrar-sesion-nav:hover {
    background-color: #000842;
}

.btn-cerrar-sesion-nav svg {
    margin-right: 5px;
}

.MiniLogo-admin {
    background-color: #f26419;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MiniLogo-admin:hover {
    transform: scale(1.125);
}

.MiniLogo-admin svg {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}
