.admin-sidebar {
  height: 100vh;
  width: 12rem;
  background-color: #00063D;
  color: #ffffff; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 2rem; 
  transition: width 0.3s ease;
}

ul {
  list-style-type: none; 
  padding: 0;
  margin: 1rem 0; 
}

.li-sidebar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #ffffff;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: 'Figtree-Medium', sans-serif;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.logo-img {
  width: 100px;
  height: auto;
}

.user-info {
  text-align: center;
  color: #ffffff; 
}

.admin-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 4px solid #F26419;
}

.li-sidebar .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
}

.li-sidebar a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none; 
  color: #ffffff; 
}

.li-sidebar a:hover {
  color: #F26419; 
}

.li-sidebar a.active {
  font-weight: bold;
 
}

.ml-4 {
  margin-left: 1.5rem;
}

.mt-6 {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0 0;
}

.expand-button-ad {
  background-color: #f26419;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin: 50px auto;
  cursor: pointer;
  display: block;
}

@media (min-width: 768px) {
  .expand-button-ad {
    display: none;
  }
}

@media (max-width: 767px) {
  .admin-sidebar {
    width: 50px;
  }

  .admin-sidebar.expanded-ad {
    width: 16rem;
  }

  /* .admin-sidebar.expanded-ad .expand-button-ad {
    margin: 20px auto; 
  } */

  .admin-sidebar.collapsed-ad .mt-6 {
    display: none;
  }
}