:root {
    --blanco: #ffffff;
    --naranja: #F26419;
    --negro: #000000;
}


.admin-nav {
    background-color: var(--naranja);
    padding: 0.15rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.admin-nav .input {
    padding-right: 2rem; 
}

.admin-nav .icon {
    width: 1rem; 
    height: 1rem; 
    line-height: 1rem;
    position: absolute;
    color: var(--naranja);
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.admin-nav a {
    display: flex;
    align-items: center;
    position: relative; 
    padding-bottom: 5px;
    color: var(--blanco); 
    text-decoration: none; 
}

.admin-nav a i {
    margin-right: 0.5rem;
}

.admin-nav a span {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.admin-nav .user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 4rem; 
}

.admin-nav .user-info img {
    width: 2rem; 
    height: 2rem; 
    border-radius: 50%;
    border: 2px solid var(--blanco); 
    margin-right: 0.5rem;
}

.admin-nav .user-info span {
    color: var(--blanco);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    background: var(--blanco) !important;
}
.logo-container-admin {
    display: flex;
    align-items: center;
}
.MiniLogo-admin {
    background-color: #f26419;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MiniLogo-admin:hover {
    transform: scale(1.125);
}

.MiniLogo-admin svg {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}
.logo-container {
    display: flex;
    align-items: center;
}

.navbar-title-admin {
    color: #ffffff;
    font-family: 'Figtree-Medium', sans-serif;
    margin-left: 10px;
    font-size: 20px;
}