.admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f26419;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; 
}

.logo-container-admin {
    display: flex;
    align-items: center;
}

.admin-nav .user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 4rem; 
}

.admin-nav .user-info img {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;
    margin-right: 0.5rem;
}

.admin-nav .user-info span {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.MiniLogo-admin {
    background-color: #f26419;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.MiniLogo-admin:hover {
    transform: scale(1.125);
}

.MiniLogo-admin svg {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}
.logo-container-admin {
    display: flex;
    align-items: center;
}
