.admin-sidebar {
  height: 100vh;
  width: 16rem;
  background-color: #00063D;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: width 0.3s ease;
  padding-top: 80px;
}

.expand-button {
  display: none;
  background-color: #f26419;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li-sidebar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #ffffff;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: 'Figtree-Medium', sans-serif;
}

.li-sidebar .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
}

.li-sidebar a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

.li-sidebar a:hover {
  color: #F26419;
}

.li-sidebar a.active {
  font-weight: bold;
}

.cerrar-sesion {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.cerrar-sesion button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
}

.ml-4 {
  margin-left: 1.5rem;
}

@media (max-width: 767px) {
  .expand-button {
    display: block;
  }

  .admin-sidebar {
    width: 50px;
  }

  .admin-sidebar.expanded {
    width: 16rem;
  }

  .admin-sidebar:not(.expanded) ul {
    display: none;
  }
}