.login-body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #12193f;
}

.login-page {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: inherit;
    overflow: hidden;
}

.login-container {
    display: flex;
    background-color: #ebebeb;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /* width: 80%; */
    flex-direction: row;

    
}

.inner-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(7, 4, 4, 0.3);
    width: 45%;
    /* margin-left: 50px; */
    /* margin-bottom: 30px; */
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: flex-left;
    background: linear-gradient(180deg, #ff9b3e, #ff4500);
    padding: 0;
    border-radius: 50px 500px 500px 50px;
    width: 50%;
}

.logo {
    max-width: 80%;
    height: auto;
}

.right-side {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 2;
}

.title {
    font-size: 40px;
    color: #ff7b00;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    border-radius: 50px;
}

.login-button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.register-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.register-text a {
    color: #ff4500;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }

    .left-side {
        width: 100%;
        border-radius: 50px 50px 0 0;
        margin-bottom: 20px;
    }

    .right-side {
        /* width: 100%; */
        padding: 20px;
        border-radius: 0 0 50px 50px;
    }

    .title {
        font-size: 30px;
        text-align: center;
    }

    .logo {
        max-width: 70%;
        margin: 0 auto;
    }

    .input {
        font-size: 14px;
        padding: 8px;
    }

    .login-button {
        padding: 8px;
    }

    .register-text {
        font-size: 12px;
    }
}